{% extends 'base.html' %}

{% block contect %}


  <h1 style="text-align: center;">Home page</h1>

  <br>
  <br>
  <h2 style="text-align: center;">Calculator</h2>
  <center>
    <form method="post">
        {% csrf_token %}
        <label>Value 1</label><br>
        <input type="text" placeholder="Enter a number" name="no1"><br>
        <label>Select Operation</label><br>
        <select name="opr">
            <option value="chosse">Choose one</option>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select><br>

        
        <label>Value 2</label><br>
        <input type="text" placeholder="Enter a number" name="no2"><br>
        <input type="submit" name="Click">
      
    </form>
    <label>Output</label>
    <input type="text" name="output" value="{{res}}">
  </center>

  {% endblock %}

